{% extends "base.html" %}

{% block title %}
用户主页
{% endblock title %}

{% block content %}



<div class="row">
    <div class="col-2">
        <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">会员信息</a>
            <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">所写文章</a>
        </div>
    </div>


    <div class="col-8">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                <table class="table table-dark">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">content</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">姓名</th>
                        <td>{{user_key.username}}</td>

                    </tr>
                    <tr>
                        <th scope="row">邮箱</th>
                        <td>{{user_key.email}}</td>

                    </tr>
                    <tr>
                        <th scope="row">最后登陆</th>
                        <td>{{user_key.last_login}}</td>

                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm">
                            <div class="list-group">
                                <a href="#" class="list-group-item list-group-item-action active">
                                    文章
                                </a>
                                {% for article in user_key.article_set.all %}
                                <a href="{{ article.get_absolute_url }}" class="list-group-item list-group-item-action">
                                    {{article.title}}
                                </a>
                                {% endfor %}

                            </div>
                        </div>


                    </div>

                </div>

            </div>
        </div>
    </div>
</div>








{% endblock content %}

